/* 
################
Remove default styling
################
*/
h1, h2, h3, ul, ol, p, article, span, div, hgroup {
	margin: 0;
	padding: 0;
}

a, a:hover {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

/* 
################
Basic Page Layout
################
*/

body {
	background-color: #white;
	font-family: 'Convergence', helvetica, sans-serif;
	color: white;
	background-color: #79B1C4;
}

#wrapper {
	height: 900px auto;
	width: 95%;
	margin: auto;
	padding: 20px;
	position: relative;
}

#content {
	height: auto;
	width: 95%;
	margin: auto;
}

/* 
################
Navigation
################
*/

#navigation {
	width: 100%;
	height: 30px;
	padding: 5px;
	margin-bottom: 25px;
	border-width: 1px 0px;
	border-style: dashed;
	border-color: #CCC;
	color: white;
}

#navigation li {
	float: left;
	text-align: center;
	font-size: 1.4em;
	padding: 0px 50px;
}

#navigation li:first-child {
	margin-left: 50px;
}

#navigation li:nth-last-child(1) {
	margin-right: 50px; 
}

a:link, a:visited {
	color: white;
}

a:hover {
	color: red;
}

/* 
################
Content
################
*/

h1 {
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 5px;
}

h1, h2 {
	color: #266871;
}

.textbox {
	width: 50%;
}

p {
	line-height: 1.4em;
	letter-spacing: 1px;
	font-size: 0.95em;
}

span {
	border: 1px dotted white;
}

#contact {
	float: left;
}

#bigme {
	width: 45%;
	height: 600px;
	float: right;
	border: 1px dotted white;
	position: relative;
	position-bottom: 5px;
}

form:input {
	color: black;
}

#admin {
	position: fixed;
	bottom: 0;
	right: 0;
}