/* 
################
Remove default styling
################
*/
h1, h2, h3, ul, ol, p, article, span, div, hgroup {
	margin: 0;
	padding: 0;
}

a, a:hover {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

* {
	color: #578080;
}

/* 
################
Basic Page Styling
################
*/

body {
	background-color: #D5C5B6;
	font-family: helvetica, sans-serif, serif;
	color: #578080;
}

#wrapper {
	border: 10px solid #92AB92;
		border-radius: 50px;
	height: auto;
	width: 500px;
	margin: auto;
	padding: 20px;
	background-color: white;
	position: relative;
}

/* 
################
Navigation
################
*/

#navigation {
	width: 250px;
}

#navigation li {
	float: left nowrap;
	margin: 2px;
	padding: 3px 5px;
	background-color: #64718F;
	text-align: center;
}

li, a, a:hover {
	color: white;
}

#navigation li:hover {
	background-color: #DF6262;
}

#navigation li:active {
	background-color: #92AB92;
}
/* 
################
Content
################
*/

img {
	float: right;
}

h1, h2 {
	color: #64718F;
}

#tech {
	text-align: right;
}

article {
	border: 1px dotted #578080;
	margin: 5px auto;
	padding: 10px;
}

p {
	line-height: 1.4em;
	letter-spacing: 1px;
	font-size: 0.95em;
}